.app.dark {
  --bg-color: #353575;
  --inverted-bg-color: #c7c7c7;
  --primary-color: #217e21;
  --secondary-color: #217e68;
  --inverted-primary-color: #3f97ce;
  --inverted-secondary-color: #45607e;
}
