.app.light {
  --bg-color: #c7c7c7;
  --inverted-bg-color: #353575;


  --primary-color: #3f97ce;
  --secondary-color: #45607e;

  --inverted-primary-color: #217e21;
  --inverted-secondary-color: #217e68;
}
